.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates a grid with 3 columns of equal width */
    grid-template-areas: 
      "filter card card card"
      "filter card card card"
      "filter card card card"; /* Defines the layout of the grid */
    gap: 20px; /* Adds a 20px gap between each card */
  }

@font-face {
    font-family: 'get_schwiftyregular';
    src: url('get_schwifty-webfont.woff2') format('woff2'),
         url('get_schwifty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
.filter-box {
    grid-area: filter; /* Assigns the filter box to the 'filter' area */
    color:rgb(114, 225, 31)
  }
  
.card-container {
    grid-area: card; /* Assigns the card container to the 'card' area */
  }

.card {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center; 
}

p {
    text-align: center;
}

.imgCard {
    position: relative;
  }
  
.hidden-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(https://cdn.shopify.com/s/files/1/0321/9596/9069/collections/cartoon-network-portal.png?v=1588605085);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    font-size: x-large;
    color: white;
    padding: 150px;
    display: none;
  }
  
.imgCard:hover .hidden-text {
    display: block;
  }

.heart-icon {
        display: inline-block;
        margin-left: 250px;
        width: 20px;
        height: 20px;
        background-image: url(https://pic.onlinewebfonts.com/svg/img_158584.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
      
.heart-icon.filled {
        background-image: url(https://static.vecteezy.com/system/resources/previews/008/573/909/original/red-heart-icon-for-web-and-app-vector.jpg);
        background-size: 20px 20px;
      }


body {
        background-color: aliceblue;
        font-family: 'Open Sans', sans-serif;
      }

#header_img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 50px; 
      }
      
#h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -600%);
        color: rgb(114, 225, 31);
        font-size: 50px;
        text-align: center;
      }
    
